.address-form .pop-over-inner
  width 100%
  max-width 650px

.address-form .pop-over-inner .dropdown-inner
  max-height 200px

.address-popup
  .pop-over-inner
    .dropdown-inner
      max-height 200px

    .pop-footer > .flex
    & > .flex
      margin 0
