.cookie-banner
  position relative


.cookie-banner .layer
  display none

.cookie-banner .pop-over-inner
  border 0
  position fixed
  left 5px
  right 5px
  max-width 400px
  bottom 5px
  top auto
  transform none!important
  border-top 1px solid rgba(0,0,0,.1)

.cookie-banner .outline-btn
  height 32px
  font-size .8rem
  line-height 30px
  min-width 80px

.cookie-banner .pop-over-content
  min-height 0

.cookie-banner .pop-over-inner:after
.cookie-banner .pop-over-inner:before
  display none

.cookie-banner .pop-over-content
  padding 10px 15px!important
