@import "variables.styl"



.rd-container {
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.rd-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.rd-checkmark {
  position: absolute;
  top: 50%;
  margin-top: -9px;
  left: 0;
  height: 18px;
  width: 18px;
  border: 1px solid #ddd;
  border-radius: 50%;
}

.rd-container:hover input ~ .rd-checkmark {
  background-color: #ccc;
}

.rd-container input:checked ~ .rd-checkmark {
  border-color: primary-color;
}

.rd-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.rd-container input:checked ~ .rd-checkmark:after {
  display: block;
}

.rd-container .rd-checkmark:after {
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: primary-color;
}

.rd-attr {
  padding: 0;
  margin: 0;
}

.rd-attr .input-content{
  padding: 6px 20px;
}

.rd-attr .rd-checkmark:before {
  content: '';
  position: absolute;
  top: unset;
  left: unset;
  bottom: -14px;
  right: -19px;
  opacity: 0;
  height: 30px;
  min-width: 30px;
  display: inline-block;
  transform: rotate(38deg);
  background: primary-color;
}

.rd-attr .rd-checkmark:after {
  content: '';
  position: absolute;
  border-width: 0 2px 2px 0;
  top: auto;
  left: auto;
  bottom: -3px;
  right: 4px;
  opacity: 0;
  min-width: 5px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  margin: -1px -1px 0;
  transform: rotate(26deg) translate(-50%, -50%);
  z-index: 2;
  background: none;
  border-radius: 0;
}

.rd-attr .rd-checkmark {
  top: 0;
  left: 0;
  height 100%;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ddd;
  margin: 0;
  overflow hidden
}

.rd-attr:hover input ~ .rd-checkmark {
  border-color: #aaa;
  background: none;
}

.rd-attr input:checked ~ .rd-checkmark {
  border-color: primary-color;
}

.rd-attr input:checked ~ .rd-checkmark:before {
  opacity: 1;
}

.rd-attr input:checked ~ .rd-checkmark:after {
  opacity: 1;
}
