//RESPONSIVE
@media only screen and (max-width: 768px)
  .social-share
    display flex
    flex-direction column
    justify-content left
    font-size 1.1em

    & > a
      gap 10px
      display flex
      padding 5px 0
      width 100%


