.whatsapp-btn-wrap
  position fixed
  bottom 30px
  right 30px
  height 50px
  width 50px
  display flex
  align-items center
  justify-content center
  box-shadow rgba(0, 0, 0, 0.2) 0px 4px 12px 0px
  border-radius 100px
  background #fff
  z-index 11

  .whatsapp-icon
    height 35px
    width 35px
